<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About page</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="content-about">
                    <img class="portrait" src="./img/deep.jpg" alt="my photo">
                    <div class="text-about">
                        <a href="https://www.linkedin.com/in/deep-choudhury/" target="_blank">Linkdin</a>
                        <a href="https://github.com/deep846"target="_blank">Github</a>
                        <a href="https://www.facebook.com/profile.php?id=61556610732737"target="_blank">Facebook</a>
                        <a href="https://www.instagram.com/das_of_radha_krishna/"target="_blank">Instagram</a>
                    </div>
            </div>
        
        </div>
        
        {{>footer}}
    </body>

</html>